{%  extends "base.html" %}

{% block content %}

{#	<form action="/register/" method="post" class="form-horizontal" data-remote="true">#}
	<form action="/register/" method="post" class="form-horizontal">
		{%  csrf_token %}
		{%  if form.errors %}
			<p class="alert alert-error">Please correct the following fields</p>
		{% endif %}
	    <div class="registration">
			<div class="control-group">
				<label for="username">Username</label>
				<div class="controls">
					{{ form.username}}
					{% if form.username.errors %}
						<div class="help-inline">

						</div>
					{%  endif %}
				</div>
			</div>
			<div class="control-group">
				<label for="email">Email</label>
				<div class="controls">
				{{ form.email }}
					{% if form.email.errors %}
					<div class="help-inline">

					</div>
					{%  endif %}
				</div>
			</div>
			<div class="control-group">
				<label for="password">Password</label>
				<div class="controls">
				{{ form.password }}
					</div>
			</div>

			<div class="control-group">
				<label for="name">Name</label>
				<div class="controls">
				{{ form.name }}
					</div>
			</div>
	    </div>
		<div class="">
			<input type="submit" value="Register" class="btn btn-success btn-large" />
		</div>
	</form>


{%  endblock %}
{% block js %}
    $(function(){
        $(document).on("submit",'form[data-remote="true"]',function(evt){
            evt.preventDefault();evt.stopPropagation();
	        formData = $(this).serialize();
	        action = $(this).attr("action");
	        $.post( action, formData , function(data){
                debugger;
	        }).error(function(data,error){
                debugger;
	        });
	        debugger;
        });
	});
{%  endblock %}